body {
    color: #fff
}

h1 {
    font-family: 'Londrina Outline', Arial, sans-serif;
    font-size: 3rem;
}

.choice-container {
    display: flex;
    margin: auto;
    max-width: 80%;
    border-radius: 5px;
    background: rgb(18, 93, 255);
    font-size: 3rem;
    width: 80rem;
}

.choice-container:hover {
    cursor: pointer;
    box-shadow: 0 0.4rem 1.4rem 0 rgba(6, 103, 247, 0.5);
    transform: scale(1.02);
    transition: transform 100ms;
    background-color: yellow;
    color: black;
    font-weight: bolder;
}

.choice-prefix {
    padding: 2rem 2.5rem;
    color: white;
}

.choice-text {
    padding: 2rem;
    width: 100%;
}

.correct {
    background: linear-gradient(32deg, rgb(11, 223, 36) 0%, rgb(41, 232, 111) 100%);
}
.incorrect {
    background: linear-gradient(32deg, rgba(230, 29, 29, 1) 0%, rgba(224, 11, 11, 1) 100%);
}

/* heads up display */

#hud {
    display: flex;
    justify-content: space-between;
}

.hud-prefix {
    text-align: center;
    font-size: 3rem;
    font-family: 'Londrina Outline', Arial, sans-serif;
    color: black;
    font-weight: bolder;
}

.hud-main-text {
    text-align: center;
}

#progressBar {
    width: 20rem;
    height: 3rem;
    border: 0.2rem solid rgb(11, 223, 36);
    margin-top: 2rem;
    border-radius: 50px;
    overflow: hidden;
}

#progressBarFull {
    height: 100%;
    background: rgb(11, 223, 36);
    width: 0%;
}

/* responsive design for mobile */

@media only screen 
  and (min-width: 320px) 
  and (max-width: 480px) {
    body {
        width: 90vw;
        height: 100%;
    }
    body p {
        width: 50%;;
    }
    body .container {
        width: 100%;
        height: 100%;
    }
    body .container .choice-container {
        width: 27rem;
        top: 20%;
    }
    body .container .questions {
        font-size: 2rem;
    }
}

/* responsive design for medium screens */

@media only screen 
  and (min-width: 768px) 
  and (max-width: 1024px) {
    body .container {
        width: 90%;
        height: 100%;
        display: inline-block;
    }
    body h1 {
        font-size: 6.5rem;
    }
    body .container .choice-container {
        height: 10rem;
        font-size: 5rem;
    }
}
